<div class="jumbotron">
	<h1 class="page-header">
		Welcome To Checklist<small> the free version</small>
	</h1>
	<p>keep track of things!</p>
	<%= link_to 'Sign-up', new_user_registration_path, class: "btn btn-primary"%>
	<%= link_to 'Login', new_user_session_path, class: "btn btn-primary"%>

</div>